# Table of Contents
<p>
<div class="lev1"><a href="#Data-from-the-Web"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data from the Web</a></div>
<div class="lev1"><a href="#Getting-the-data"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Getting the data</a></div>
<div class="lev2"><a href="#Requesting-ISA-form"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Requesting ISA form</a></div>
<div class="lev2"><a href="#Finding-form-IDs"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Finding form IDs</a></div>
<div class="lev2"><a href="#Filtering-and-getting-the-data"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Filtering and getting the data</a></div>
<div class="lev2"><a href="#Extracting-data-from-the-result-page"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Extracting data from the result page</a></div>

# Data from the Web

In this homework we will extract interesting information from IS-Academia, the educational portal of EPFL. Specifically, we will focus on the part that allows public access to academic data. The list of registered students by section and semester is not offered as a downloadable dataset, so you will have to find a way to scrape the information we need. On this form you can select the data to download based on different criteria (e.g., year, semester, etc.)

You are not allowed to download manually all the tables -- rather you have to understand what parameters the server accepts, and generate accordingly the HTTP requests. For this task, Postman with the Interceptor extension can help you greatly. I recommend you to watch this brief tutorial to understand quickly how to use it. Your code in the iPython Notebook should not contain any hardcoded URL. To fetch the content from the IS-Academia server, you can use the Requests library with a Base URL, but all the other form parameters should be extracted from the HTML with BeautifulSoup. You can choose to download Excel or HTML files -- they both have pros and cons, as you will find out after a quick check. You can also choose to download data at different granularities (e.g., per semester, per year, etc.) but I recommend you not to download all the data in one shot because 1) the requests are likely to timeout and 2) we will overload the IS-Academia server.

In [6]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import requests
import re
from bs4 import BeautifulSoup
sns.set_context('notebook')

# Getting the data

## Finding ISA form 

The first part of the job in order to get the data is to get the parameters required to get the data we want.

In this purpose, we first do a get request on the ISA form with the link <http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247>.

We also use BeautifulSoup on the resulting html response in order to parse it later.

In [178]:
r = requests.get('http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247')
r.headers['content-type']
html_doc = r.text
isaForm = BeautifulSoup(html_doc, 'html.parser')

In [179]:
isaForm

<html><head><meta content="text/html; charset=utf-8" http-equiv="Content-Type"><div></div><title></title><script src="GEDPUBLICREPORTS.txt?ww_x_path=Gestac.Base.Palette_js&amp;ww_c_langue=fr" type="text/javascript"></script><link href="GEDPUBLICREPORTS.css?ww_x_path=Gestac.Moniteur.Style" rel="stylesheet" type="text/css"><link href="GEDPUBLICREPORTS.css?ww_x_path=Gestac.Moniteur.StyleNavigator" rel="stylesheet" type="text/css"/></link></meta></head><body alink="#666666" bgcolor="#ffffff" link="#666666" marginheight="0" marginwidth="5" vlink="#666666"><div class="filtres"><form action="!GEDPUBLICREPORTS.filter" method="GET" name="f"><input name="ww_b_list" type="hidden" value="1"><input name="ww_i_reportmodel" type="hidden" value="133685247"><input name="ww_c_langue" type="hidden" value=""><h1 id="titre">Liste des étudiants inscrits par semestre</h1><table border="0" id="format"><tr><th>Format:</th></tr><tr><td><input checked="" name="ww_i_reportModelXsl" type="radio" value="133685270">html</input></td></tr><tr><td><input name="ww_i_reportModelXsl" type="radio" value="133685271">xls</input></td></tr></table><h1></h1><table border="0" id="filtre"><tr><th>Unité académique</th><td><input name="zz_x_UNITE_ACAD" type="hidden" value=""><select name="ww_x_UNITE_ACAD" onchange="document.f.zz_x_UNITE_ACAD.value=document.f.ww_x_UNITE_ACAD.options[document.f.ww_x_UNITE_ACAD.selectedIndex].text"><option value="null"></option><option value="942293">Architecture</option><option value="246696">Chimie et génie chimique</option><option value="943282">Cours de mathématiques spéciales</option><option value="637841336">EME (EPFL Middle East)</option><option value="942623">Génie civil</option><option value="944263">Génie mécanique</option><option value="943936">Génie électrique et électronique </option><option value="2054839157">Humanités digitales</option><option value="249847">Informatique</option><option value="120623110">Ingénierie financière</option><option value="946882">Management de la technologie</option><option value="944590">Mathématiques</option><option value="945244">Microtechnique</option><option value="945571">Physique</option><option value="944917">Science et génie des matériaux</option><option value="942953">Sciences et ingénierie de l'environnement</option><option value="945901">Sciences et technologies du vivant</option><option value="1574548993">Section FCUE</option><option value="946228">Systèmes de communication</option></select></input></td></tr><tr><th>Période académique</th><td><input name="zz_x_PERIODE_ACAD" type="hidden" value=""><select name="ww_x_PERIODE_ACAD" onchange="document.f.zz_x_PERIODE_ACAD.value=document.f.ww_x_PERIODE_ACAD.options[document.f.ww_x_PERIODE_ACAD.selectedIndex].text"><option value="null"></option><option value="355925344">2016-2017</option><option value="213638028">2015-2016</option><option value="213637922">2014-2015</option><option value="213637754">2013-2014</option><option value="123456101">2012-2013</option><option value="123455150">2011-2012</option><option value="39486325">2010-2011</option><option value="978195">2009-2010</option><option value="978187">2008-2009</option><option value="978181">2007-2008</option></select></input></td></tr><tr><th>Période pédagogique</th><td><input name="zz_x_PERIODE_PEDAGO" type="hidden" value=""><select name="ww_x_PERIODE_PEDAGO" onchange="document.f.zz_x_PERIODE_PEDAGO.value=document.f.ww_x_PERIODE_PEDAGO.options[document.f.ww_x_PERIODE_PEDAGO.selectedIndex].text"><option value="null"></option><option value="249108">Bachelor semestre 1</option><option value="249114">Bachelor semestre 2</option><option value="942155">Bachelor semestre 3</option><option value="942163">Bachelor semestre 4</option><option value="942120">Bachelor semestre 5</option><option value="2226768">Bachelor semestre 5b</option><option value="942175">Bachelor semestre 6</option><option value="2226785">Bachelor semestre 6b</option><option value="2230106">Master semestre 1</option><option value="942192">Master semestre 2</option><option value="2230128">Master semestre 3</option><option value="2230140">Master semestre 4</option><option value="2335667">Mineur semestre 1</option><option value="2335676">Mineur semestre 2</option><option value="2063602308">Mise à niveau</option><option value="249127">Projet Master automne</option><option value="3781783">Projet Master printemps</option><option value="953159">Semestre automne</option><option value="2754553">Semestre printemps</option><option value="953137">Stage automne 3ème année</option><option value="2226616">Stage automne 4ème année</option><option value="983606">Stage printemps 3ème année</option><option value="2226626">Stage printemps 4ème année</option><option value="2227132">Stage printemps master</option></select></input></td></tr><tr><th>Type de semestre</th><td><input name="zz_x_HIVERETE" type="hidden" value=""><select name="ww_x_HIVERETE" onchange="document.f.zz_x_HIVERETE.value=document.f.ww_x_HIVERETE.options[document.f.ww_x_HIVERETE.selectedIndex].text"><option value="null"></option><option value="2936286">Semestre d'automne</option><option value="2936295">Semestre de printemps</option></select></input></td></tr></table><input name="dummy" type="submit" value="ok"/></input></input></input></form><script type="text/javascript">
   function loadReport(x) {
    var querysup='';
    writeRunning(top.principal);
    for (i=0; document.f.elements.length > i; i++){
     if (document.f.elements[i].checked){
      querysup=querysup+'&'+document.f.elements[i].name+'='+document.f.elements[i].value;
     }
     if (document.f.elements[i].type=='select-one') {
      querysup=querysup+'&'+document.f.elements[i].name+'='+document.f.elements[i].options[document.f.elements[i].selectedIndex].value;
     }
     if (document.f.elements[i].type=='text'){
      querysup=querysup+'&'+document.f.elements[i].name+'='+document.f.elements[i].value;
     }
    }
    parent.principal.location = "!GEDPUBLICREPORTS.bhtml?"+x+"&ww_i_reportModel=133685247"+querysup;
    if (navigator.userAgent.toUpperCase().indexOf('SAFARI') != -1) {
     document.location.reload();
    }
   }
  </script><h1></h1><table border="0"></table></div></body></html>
<!-- OpenXml:0.00s  agent ctrl:0.00s  xml:0.23s  xsl clob before parse:0.00s  xsl extr&stylesheet:0.00s  xsl clob before parse:0.00s  xsl after parsing:0.00s  xsl ctrl data:0.01s  transform 2:0.02s  xsl process:0.00s  -->

## Finding form IDs

Now that we've got the form's html code, we need to know which values of the form are used to filter and displayed the desired data. The values we're interested in are 'unité académique', 'période académique' and 'période pédagogique' (corresponding respectively to section, academic year and semester).

By inspecting the html code, we saw that the form items are 'option', it is then easy to get their value by using BeautifupSoup find and find_all method.

The following code will simply find the option value corresponding to section 'Informatique', and output it's value (the id used to filter the result).
```python
    isaForm.find('option', text = re.compile('Informatique'))['value']
```

We do the same thing for Bachelor 1st and 6th semester.
```python
    semester_ids['Bachelor semestre 1'] = isaForm.find('option', 
                                                        text = re.compile('Bachelor semestre 1'))['value']
    semester_ids['Bachelor semestre 6'] = isaForm.find('option', 
                                                        text = re.compile('Bachelor semestre 6'))['value']
```

And we get the academic years ids from 2007-2008 to 2016-2017 using a for loop (see in the cell below)

In [8]:
informatique_id = isaForm.find('option', text = re.compile('Informatique'))['value']

print("Id of informatique : ", informatique_id, "\n")

master_semester_ids = {}

#print(isaForm)

#i=1
#a = isaForm.find('option', text = re.compile('Master semestre ' + str(i)))
#a = isaForm.find('option','Bachelor semestre 1')
#print(a)

for i in range(1, 5):
    master_semester_ids['Master semestre ' + str(i)] = isaForm.find('option', text = re.compile('Master semestre ' + str(i)))['value']
    print('Id of Master semester '+ str(i)+' : '+ master_semester_ids['Master semestre '+str(i)])
    
for i in range(1, 3):
    master_semester_ids['Mineur semestre ' + str(i)] = isaForm.find('option', text = re.compile('Mineur semestre ' + str(i)))['value']
    print('Id of Mineur semester '+ str(i)+' : '+ master_semester_ids['Mineur semestre '+str(i)])  
    
master_semester_ids['Projet Master fall'] = isaForm.find('option', text = re.compile('Projet Master automne'))['value']
print('Id of Projet Master fall'+' : '+ master_semester_ids['Projet Master fall']) 

master_semester_ids['Projet Master spring'] = isaForm.find('option', text = re.compile('Projet Master printemps'))['value']
print('Id of Projet Master spring'+' : '+ master_semester_ids['Projet Master spring']) 

print('\n')

year_ids = {}
for y in range(2007, 2017):
    school_year = str(y) + "-" + str(y+1)
    year_ids[str(y) + "-" + str(y+1)] = [isaForm.find('option', text = re.compile(school_year))['value']]
    
print("years ids : (from 2007-2008 to 2016-2017)", year_ids)

Id of informatique :  249847

Id of Master semester 1 : 2230106
Id of Master semester 2 : 942192
Id of Master semester 3 : 2230128
Id of Master semester 4 : 2230140
Id of Mineur semester 1 : 2335667
Id of Mineur semester 2 : 2335676
Id of Projet Master fall : 249127
Id of Projet Master spring : 3781783


years ids : (from 2007-2008 to 2016-2017) {'2011-2012': ['123455150'], '2014-2015': ['213637922'], '2008-2009': ['978187'], '2012-2013': ['123456101'], '2010-2011': ['39486325'], '2015-2016': ['213638028'], '2009-2010': ['978195'], '2007-2008': ['978181'], '2013-2014': ['213637754'], '2016-2017': ['355925344']}



## Filtering and getting the data

Now that we know the interesting IDs used in the form, we need to filter and request our data. For this purpose, we used Postman and Postman interceptor to intercept and inspect the request method used to get the data from the formula. 
  
</br>




The picture below shows all parameters used in the URL to filter and return results for:
* Section "Informatique"
* Academic period "2016-2017"
* Pedagogic period "Bachelor semestre 1"

<p>
    <img src="img/postman.png" alt="postman" align="center"/>
</p>

After playing a bit with the URL, we conclude that not all parameters were mandatory, the required parameters and their values are:

|parameter  | value |
|-----------|-------|
|ww_b_list  |must be '1'|  
|ww_i_reportmodel|must be '133685247'|
|ww_i_reportModelXsl|must be '133685270'|
|ww_x_UNITE_ACAD|correspond to the id of the section, taken from the form|
|ww_x_PERIODE_ACAD|correspond to the id of the academic year, taken from the form|
|ww_x_PERIODE_PEDAGO|correspond to the id of the semester, taken from the form|

Therefore we create a parameters dictionnary and put all the need parameters in order to get the correct URL.


The filter returns us a new html page containing two possibilities link to display the data. 
Since we used very precise filter in the form (specifying years, semester and section), there is only one set of data to display, meaning that both link ("Tous" and "Informatique, 'years', 'semester'") leads to the same dataset.

We choose to get the link from the "Informatique, 'years', 'semester', therefore, by inspecting the html code, we saw that the parameters used in the link was "ww_x_GPS", we simply get it from the html page for the desired data.

We can then simply request the dataset, using the base URL we found thanks to Postman, the parameters used for the filter and the ww_x_GPS id

In [9]:
def getFilteredPage(academic_year, semester):
    params = {'ww_b_list':'1',
            'ww_i_reportmodel':'133685247',
            'ww_i_reportModelXsl':'133685270',
            'ww_x_UNITE_ACAD':informatique_id,
            'ww_x_PERIODE_ACAD':year_ids[academic_year],
            'ww_x_PERIODE_PEDAGO':master_semester_ids[semester]}
    r = requests.get('http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?', params)
    html_doc = r.text
    return BeautifulSoup(html_doc, 'html.parser'), params

In [10]:
def getResultPage(academic_year, semester):
    filteredPage, params = getFilteredPage(academic_year, semester)
    params['ww_x_GPS'] = filteredPage.find_all('a')[1].get('onclick').split("ww_x_GPS=")[1].split("')")[0]
    r = requests.get('http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.bhtml?', params)
    return BeautifulSoup(r.text, 'html.parser')

In [184]:
def getResultAllYears(semester):
    global_table = []
    for year_id in year_ids:
        soup = getResultPage(year_id, semester)

        students_tr = soup.body.hr.table.find_all('tr')[2:]
        students = []
        for i in range (0,len(students_tr)):
            student = students_tr[i].find_all('td')
            students.append([student[0].text,student[1].text.replace(u'\xa0', u' '),student[7].text,student[10].text])

        pd_student = pd.DataFrame(students, columns=['Gender', 'Name', 'Status_' + year_id, 'Sciper'])

        global_table.append(pd_student)
    return global_table

In [186]:
def getResultAllYearsSpec(semester):
    global_table = []
    for year_id in year_ids:
        soup = getResultPage(year_id, semester)

        students_tr = soup.body.hr.table.find_all('tr')[2:]
        students = []
        for i in range (0,len(students_tr)):
            student = students_tr[i].find_all('td')
            students.append([student[0].text,student[1].text.replace(u'\xa0', u' '),student[7].text,student[10].text,student[4].text])

        pd_student = pd.DataFrame(students, columns=['Gender', 'Name', 'Status_' + year_id, 'Sciper','Spécialisation'])

        global_table.append(pd_student)
    return global_table

In [12]:
def joinTables(global_table):
    joined_table = global_table[0]
    for single_table in global_table[1:len(global_table)]:
        joined_table = pd.merge(joined_table, single_table, how='outer', on=['Gender','Name','Sciper'])
    return joined_table

In [13]:
def formatTable(joined_table_bch):
    bch_no_string = joined_table_bch.drop(joined_table_bch.columns[[0,1,3]], axis=1)
    bch = bch_no_string.sort_index(axis=1)
    
    year = 2007
    for bch_col in bch:
        bch[bch_col] = bch[bch_col].replace('Présent', year)
        year = year + 1
    return bch

### Get Value Master semester 1

In [43]:
global_table_master1 = getResultAllYears('Master semestre 1')

AttributeError: 'list' object has no attribute 'heaad'

In [73]:
#global_table_master1

In [47]:
joined_table_master1 = joinTables(global_table_master1)
joined_table_master1.head()

,Gender,Name,Status_2011-2012,Sciper,Status_2014-2015,Status_2008-2009,Status_2012-2013,Status_2010-2011,Status_2015-2016,Status_2009-2010,Status_2007-2008,Status_2013-2014,Status_2016-2017
0,Monsieur,Arnfred Jonas,Présent,184772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Monsieur,Asgari Ehsaneddin,Présent,211754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Monsieur,Baeriswyl Jonathan,Présent,179406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madame,Bai Yi,Présent,209850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Monsieur,Barroco Michael,Présent,179428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
joined_table_master1.shape

(901, 13)

In [49]:
#with pd.option_context('display.max_rows', 999, 'display.max_columns', 999):
#    print(joined_table_master1)

In [67]:
#table_no_conge_master1 = joined_table_master1
#print(table_no_conge_master1)
table_no_conge_master1 = joined_table_master1.replace('Congé', 'Présent').replace('Attente', np.nan).replace('Stage','Présent').dropna(thresh=4)


print('shape before replace :')
print(joined_table_master1.shape)

print('fall shape after replace :')
print(table_no_conge_master1.shape)

assert(joined_table_master1.shape==table_no_conge_master1.shape)

table avant :
(901, 13)
table no conge :
(901, 13)

In [68]:
formated_table_master1 = formatTable(table_no_conge_master1)
master1_min = formated_table_master1.min(axis=1)
#print(formated_table_master1)

master1_min.head()
#print(master1_min)

0    2011.0
1    2011.0
2    2011.0
3    2011.0
4    2011.0
dtype: float64

In [153]:
master1_string = table_no_conge_master1.drop(table_no_conge_master1.columns[[1,2,4,5,6,7,8,9,10,11,12]], axis=1)
master1_final = pd.merge(master1_string, master1_min.to_frame(),left_index=True, right_index=True)
master1_final.columns = [['Gender', 'Sciper', 'Start_year']]
master1_final#.head()
#print(master1_final)

       Gender  Sciper  Start_year
0    Monsieur  184772      2011.0
1    Monsieur  211754      2011.0
2    Monsieur  179406      2011.0
3      Madame  209850      2011.0
4    Monsieur  179428      2011.0
5    Monsieur  184814      2011.0
6    Monsieur  179426      2011.0
7    Monsieur  185949      2011.0
8    Monsieur  212234      2011.0
9    Monsieur  179157      2011.0
10     Madame  211148      2011.0
11   Monsieur  184991      2011.0
12   Monsieur  211338      2011.0
13   Monsieur  203521      2010.0
14   Monsieur  178711      2011.0
15   Monsieur  178786      2011.0
16   Monsieur  178287      2011.0
17   Monsieur  185952      2011.0
18   Monsieur  178718      2011.0
19   Monsieur  191447      2011.0
20   Monsieur  211401      2011.0
21   Monsieur  214805      2011.0
22     Madame  215042      2011.0
23   Monsieur  206104      2011.0
24   Monsieur  185853      2011.0
25   Monsieur  215137      2011.0
26     Madame  211672      2011.0
27   Monsieur  214858      2011.0
28   Monsieur  147008      2011.0
29   Monsieur  211129      2011.0
..        ...     ...         ...
871  Monsieur  224553      2016.0
872  Monsieur  225730      2016.0
873  Monsieur  235350      2016.0
874  Monsieur  225749      2016.0
875  Monsieur  236522      2016.0
876  Monsieur  229049      2016.0
877  Monsieur  218357      2016.0
878  Monsieur  223552      2016.0
879  Monsieur  272509      2016.0
880  Monsieur  269467      2016.0
881  Monsieur  208359      2016.0
882  Monsieur  225711      2016.0
883  Monsieur  268226      2016.0
884  Monsieur  268577      2016.0
885  Monsieur  239124      2016.0
886  Monsieur  234231      2016.0
887  Monsieur  224640      2016.0
888  Monsieur  269096      2016.0
889  Monsieur  235117      2016.0
890  Monsieur  271189      2016.0
891  Monsieur  212686      2016.0
892  Monsieur  268562      2016.0
893  Monsieur  273182      2016.0
894  Monsieur  226658      2016.0
895  Monsieur  227775      2016.0
896    Madame  273006      2016.0
897    Madame  273563      2016.0
898  Monsieur  209450      2016.0
899    Madame  269057      2016.0
900  Monsieur  267476      2016.0

[901 rows x 3 columns]

### Get Value Projet Master fall spring

In [80]:
global_table_prj_fall = getResultAllYears('Projet Master fall')
global_table_prj_spring = getResultAllYears('Projet Master spring')

In [84]:
joined_table_prj_fall = joinTables(global_table_prj_fall)
joined_table_prj_fall.head()

,Gender,Name,Status_2011-2012,Sciper,Status_2014-2015,Status_2008-2009,Status_2012-2013,Status_2010-2011,Status_2015-2016,Status_2009-2010,Status_2007-2008,Status_2013-2014,Status_2016-2017
0,Monsieur,Atitallah Samir,Présent,196669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Madame,Bogos Sonia Mihaela,Stage,200065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Monsieur,Buchschacher Nicolas,Présent,171619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Monsieur,Frélich Lukás,Stage,200597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Monsieur,Houdemer Charles-Henry,Présent,170239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
joined_table_prj_spring = joinTables(global_table_prj_spring)
joined_table_prj_spring.head()

,Gender,Name,Status_2011-2012,Sciper,Status_2014-2015,Status_2008-2009,Status_2012-2013,Status_2010-2011,Status_2015-2016,Status_2009-2010,Status_2007-2008,Status_2013-2014,Status_2016-2017
0,Monsieur,Bloch Marc-Olivier,Présent,178553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Monsieur,Bricola Jean-Charles,Stage,180731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Monsieur,Chakrabarty Soumitro,Stage,199654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Monsieur,Dosmukhamedov Diyar,Présent,192861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Monsieur,Gruner Samuel,Congé,170235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
print("fall shape : ")
print(joined_table_prj_fall.shape)
print("spring shape : ")
print(joined_table_prj_spring.shape)

fall shape :
(86, 13)
spring shape :
(42, 13)

In [98]:
table_no_conge_prj_fall = joined_table_prj_fall.replace('Congé', 'Présent').replace('Attente', np.nan).replace('Stage','Présent').dropna(thresh=4)

print('fall shape before replace   :')
print(joined_table_prj_fall.shape)

print('fall shape after replace    :')
print(table_no_conge_prj_fall.shape)

assert(joined_table_prj_fall.shape==table_no_conge_prj_fall.shape)


table_no_conge_prj_spring = joined_table_prj_spring.replace('Congé', 'Présent').replace('Attente', np.nan).replace('Stage','Présent').dropna(thresh=4)

print('spring shape before replace :')
print(joined_table_prj_spring.shape)

print('spring shape after replace  :')
print(table_no_conge_prj_spring.shape)

assert(joined_table_prj_spring.shape==table_no_conge_prj_spring.shape)

fall shape before replace   :
(86, 13)
fall shape after replace    :
(86, 13)
spring shape before replace :
(42, 13)
spring shape after replace  :
(42, 13)

In [134]:
formated_table_prj_fall = formatTable(table_no_conge_prj_fall)
prj_fall_max = formated_table_prj_fall.max(axis=1)

prj_fall_max.head()

formated_table_prj_spring = formatTable(table_no_conge_prj_spring)
prj_spring_max = formated_table_prj_spring.max(axis=1)

prj_spring_max.head()
#print(prj_spring_max)

0    2011.0
1    2011.0
2    2011.0
3    2011.0
4    2011.0
dtype: float64

In [135]:
prj_fall_string = table_no_conge_prj_fall.drop(table_no_conge_prj_fall.columns[[1,2,4,5,6,7,8,9,10,11,12]], axis=1)
prj_fall_final = pd.merge(prj_fall_string, prj_fall_max.to_frame(),left_index=True, right_index=True)
prj_fall_final.columns = [['Gender', 'Sciper', 'End_year_fall']]
prj_fall_final.head()
#print(master1_final)

     Gender  Sciper  End_year_fall
0  Monsieur  196669         2011.0
1    Madame  200065         2011.0
2  Monsieur  171619         2011.0
3  Monsieur  200597         2011.0
4  Monsieur  170239         2011.0

In [136]:
prj_spring_string = table_no_conge_prj_spring.drop(table_no_conge_prj_spring.columns[[1,2,4,5,6,7,8,9,10,11,12]], axis=1)
prj_spring_final = pd.merge(prj_spring_string, prj_spring_max.to_frame(),left_index=True, right_index=True)
prj_spring_final.columns = [['Gender', 'Sciper', 'End_year_spring']]

year_adjuster= lambda x : x+0.5
prj_spring_final['End_year_spring'] = prj_spring_final['End_year_spring'].apply(year_adjuster)
prj_spring_final.head()


#print(master1_final)

     Gender  Sciper  End_year_spring
0  Monsieur  178553           2011.5
1  Monsieur  180731           2011.5
2  Monsieur  199654           2011.5
3  Monsieur  192861           2011.5
4  Monsieur  170235           2011.5

In [137]:
projet_end = pd.merge(prj_fall_final, prj_spring_final,how='outer',on=['Gender','Sciper'])
projet_end.head()

#projet_end.shape
#projet_end.loc[projet_end['End_year_fall']==]

     Gender  Sciper  End_year_fall  End_year_spring
0  Monsieur  196669         2011.0              NaN
1    Madame  200065         2011.0              NaN
2  Monsieur  171619         2011.0              NaN
3  Monsieur  200597         2011.0              NaN
4  Monsieur  170239         2011.0              NaN

In [151]:
projet_end_year = projet_end.drop(projet_end.columns[[0,1]],axis=1)
projet_end_year.shape
#print(projet_end_year.head)


tmp_projet_real_max_year = projet_end_year.max(axis=1)
#print(tmp_projet_real_max_year)


final_projet_max_year = pd.merge(projet_end.drop(projet_end.columns[[2,3]],axis=1),tmp_projet_real_max_year.to_frame(),left_index=True,right_index=True)
#a = projet_end.drop(projet_end.columns[[0,1]],axis=1)


final_projet_max_year.columns = [['Gender', 'Sciper', 'End_year_Project']]
print(final_projet_max_year)
final_projet_max_year.drop(projet_end.columns[[0,1]],axis=1).describe()

       Gender  Sciper  End_year_Project
0    Monsieur  196669            2011.0
1      Madame  200065            2011.0
2    Monsieur  171619            2011.0
3    Monsieur  200597            2011.0
4    Monsieur  170239            2011.0
5    Monsieur  181017            2011.0
6    Monsieur  200808            2011.0
7    Monsieur  170176            2011.0
8    Monsieur  171195            2011.0
9    Monsieur  185301            2014.0
10     Madame  180027            2008.0
11   Monsieur  159852            2008.0
12   Monsieur  166805            2008.0
13   Monsieur  172264            2008.0
14   Monsieur  202059            2012.0
15   Monsieur  170235            2012.0
16   Monsieur  191471            2010.5
17   Monsieur  146742            2010.5
18   Monsieur  191313            2010.0
19   Monsieur  233184            2015.0
20   Monsieur  233543            2015.0
21     Madame  183512            2009.0
22   Monsieur  160213            2009.5
23     Madame  183605            2009.5
24   Monsieur  173527            2007.5
25   Monsieur  223102            2013.0
26   Monsieur  210215            2013.0
27     Madame  226037            2013.0
28   Monsieur  166075            2016.0
29   Monsieur  243163            2016.0
..        ...     ...               ...
91   Monsieur  200419            2011.5
92   Monsieur  181115            2011.5
93   Monsieur  171091            2011.5
94   Monsieur  179670            2011.5
95   Monsieur  180959            2011.5
96     Madame  196602            2011.5
97   Monsieur  199238            2011.5
98   Monsieur  172687            2008.5
99   Monsieur  180072            2008.5
100  Monsieur  160225            2008.5
101  Monsieur  165819            2008.5
102  Monsieur  179878            2008.5
103  Monsieur  177476            2008.5
104  Monsieur  206923            2012.5
105  Monsieur  161279            2010.5
106  Monsieur  166344            2010.5
107  Monsieur  166491            2010.5
108  Monsieur  174045            2010.5
109  Monsieur  175702            2010.5
110    Madame  154573            2009.5
111  Monsieur  185523            2009.5
112  Monsieur  159516            2009.5
113  Monsieur  186060            2009.5
114  Monsieur  185522            2009.5
115  Monsieur  170265            2009.5
116  Monsieur  153819            2007.5
117  Monsieur  145957            2007.5
118  Monsieur  173257            2007.5
119  Monsieur  160150            2007.5
120  Monsieur  222434            2013.5

[121 rows x 3 columns]

       End_year_Project
count        121.000000
mean        2013.115702
std            3.074600
min         2007.500000
25%         2010.500000
50%         2014.000000
75%         2016.000000
max         2016.000000

In [170]:


master_data = pd.merge(master1_final, final_projet_max_year,how='inner',on=['Gender','Sciper'])
master_data.head()

     Gender  Sciper  Start_year  End_year_Project
0  Monsieur  210215      2011.0            2013.0
1  Monsieur  206923      2011.0            2012.5
2  Monsieur  166075      2014.0            2016.0
3  Monsieur  194182      2013.0            2016.0
4  Monsieur  213664      2014.0            2016.0

In [176]:
master_duration = (master_data.End_year_Project - master_data.Start_year + 0.5).to_frame()

master_duration_clean = pd.merge(master_data.drop(master_data.columns[[2,3]],axis=1),master_duration,left_index=True,right_index=True)
master_duration_clean.columns = [['Gender', 'Sciper', 'Number_of_year_master']]

master_duration_clean.describe()

       Number_of_year_master
count             114.000000
mean                2.096491
std                 0.514726
min                 1.500000
25%                 1.500000
50%                 2.000000
75%                 2.500000
max                 4.000000

In [177]:
master_duration_clean.groupby('Gender').mean()

          Number_of_year_master
Gender
Madame                 2.076923
Monsieur               2.099010

## Specialisation

In [187]:
master_sem1_spec = getResultAllYearsSpec('Master semestre 1')

In [195]:
master_sem2_spec = getResultAllYearsSpec('Master semestre 2')

In [196]:
master_sem3_spec = getResultAllYearsSpec('Master semestre 3')

In [251]:
joined_table_master1_spec = joinTables(master_sem1_spec)
joined_table_master1_spec = joined_table_master1_spec.replace('',np.nan)
#joined_table_master1_spec.dropna(thresh=)
joined_table_master1_spec.shape
sciper_num_master1_spec = joined_table_master1_spec.drop(joined_table_master1_spec.columns[[0,1,2,5,7,9,11,13,15,17,19,21]],axis=1)
sciper_num_master1_spec = sciper_num_master1_spec.dropna(thresh=2)



sciper_num_master1_spec = sciper_num_master1_spec.replace(np.nan,'')
tmp= sciper_num_master1_spec[[1]]


for i in range(0,5) : 
    tmp=tmp+sciper_num_master1_spec[[i]]
    #tmp=tmp.map(str)+ column.map(str)

#sciper_num_master1_spec

tmp

#sciper_num_master1_spec = sciper_num_master1_spec.max(axis=1,skipna=True)
#sciper_num_master1_spec = sciper_num_master1_spec.replace(np.nan,'')
#sciper_num_master1_spec
#sciper_num_master1_spec = sciper_num_master1_spec.drop(sciper_num_master1_spec.columns[[1,2,3,4,5,6,7,8,9,10]],axis#=1)
#sciper_num_master1_spec
#final_projet_max_year = pd.merge(projet_end.drop(projet_end.columns[[2,3]],axis=1),tmp_projet_real_max_year.to_frame(),left_index=True,right_index=True)

    Sciper Spécialisation_x Spécialisation_y
11     NaN              NaN              NaN
21     NaN              NaN              NaN
24     NaN              NaN              NaN
28     NaN              NaN              NaN
48     NaN              NaN              NaN
53     NaN              NaN              NaN
55     NaN              NaN              NaN
57     NaN              NaN              NaN
63     NaN              NaN              NaN
69     NaN              NaN              NaN
70     NaN              NaN              NaN
72     NaN              NaN              NaN
82     NaN              NaN              NaN
86     NaN              NaN              NaN
90     NaN              NaN              NaN
100    NaN              NaN              NaN
101    NaN              NaN              NaN
108    NaN              NaN              NaN
112    NaN              NaN              NaN
134    NaN              NaN              NaN
140    NaN              NaN              NaN
141    NaN              NaN              NaN
144    NaN              NaN              NaN
165    NaN              NaN              NaN
175    NaN              NaN              NaN
186    NaN              NaN              NaN
191    NaN              NaN              NaN
212    NaN              NaN              NaN
224    NaN              NaN              NaN
234    NaN              NaN              NaN
..     ...              ...              ...
582    NaN              NaN              NaN
586    NaN              NaN              NaN
592    NaN              NaN              NaN
595    NaN              NaN              NaN
598    NaN              NaN              NaN
600    NaN              NaN              NaN
602    NaN              NaN              NaN
603    NaN              NaN              NaN
605    NaN              NaN              NaN
625    NaN              NaN              NaN
643    NaN              NaN              NaN
652    NaN              NaN              NaN
660    NaN              NaN              NaN
663    NaN              NaN              NaN
670    NaN              NaN              NaN
697    NaN              NaN              NaN
708    NaN              NaN              NaN
712    NaN              NaN              NaN
731    NaN              NaN              NaN
775    NaN              NaN              NaN
777    NaN              NaN              NaN
778    NaN              NaN              NaN
790    NaN              NaN              NaN
795    NaN              NaN              NaN
803    NaN              NaN              NaN
807    NaN              NaN              NaN
823    NaN              NaN              NaN
850    NaN              NaN              NaN
871    NaN              NaN              NaN
888    NaN              NaN              NaN

[88 rows x 3 columns]